.imag{
	float: left; 
	border-radius:15px;
	position: fixed;
	height: 240px;
	width: 120px;
	visibility: visible;
}
.sample{
position:fixed;
height:170px;
width:270px;
border-radius: 15px;
}
.toprow{
	top: 8%;
	
}
.bottomrow{
	top: 50%;
	
}
.firstcolumn
{
	left:5%;
	
}
.secondcolumn
{
	left:16%;
}
.thirdcolumn
{
	left:27%;
}
.fourthcolumn
{
	left:38%;
}
.fifthcolumn
{
	left:49%;
}
.sixthcolumn
{
	left:60%;
}
.seventhcolumn
{
	left:71%;
}
.eighthcolumn
{
	left:82%;
}
.slide
{
	top: 37%;
	float:left;
	position: fixed;
	width: 40%;
	left: 50%;
}
span.ui-state-default,
.ui-widget-content span.ui-state-default,
.ui-widget-header span.ui-state-default {

	background: #ff0000;

}

div.ui-widget-header, div.ui-widget-content {

	background: #008000;
}
.Backwards
{
	height: 100px;
	width: 200px;
	color: #000000;
	background: #ffff00;
	border-width: 0;
	top: 34%;
	float: left;
	position: fixed;
	left: 15%;
	font-size: 2em;
	border-radius: 20%;
}
.Forwards
{
	background:#0000ff;
	left: 30%;
	color: #ffffff;
}
.red
{
	background:#ff0000;
}
.facedown.red
{
	background:#ffc0cb;
}
.orange
{
	background: #ffa500;
}
.facedown.orange
{
	background: #ffdb99;
}
.yellow
{
	background:#ffff00;
}
.facedown.yellow
{
	background:#ffff90;
}
.green
{
	background:#008000;
}
.facedown.green
{
	background:#98fb98;
}
.blue
{
	background:#0000ff;
}
.facedown.blue
{
	background:#add8e6
}
.indigo
{
	background: #6F339B;
}
.facedown.indigo
{
	 background: #B799CD;
}
.violet
{
	background:#800080;
}
.facedown.violet
{
	background:#dda0dd;
}


